<!-- src/app/product-modal/product-modal.component.html -->
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="form">
        <input type="text" placeholder="Name" [(ngModel)]="product.name" class="form-input mt-2" name="name">
        <input type="text" placeholder="Description" [(ngModel)]="product.description" class="form-input mt-2" name="description">
        <input type="number" placeholder="Price" [(ngModel)]="product.price" class="form-input mt-2" name="price">
        <input type="text" placeholder="Image URL" [(ngModel)]="product.imageUrl" class="form-input mt-2" name="imageUrl">
        <input type="number" placeholder="Quantity" [(ngModel)]="product.quantity" class="form-input mt-2" name="quantity">
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addProduct()">Save changes</button>
      </div>
    </div>
  </div>
</div>

